
.login-form {
  background: linear-gradient(180deg, #6a11cb 0%, #2575fc 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(./bg.png);
}

/* Card container */
.all-items {
  border: 1px dotted gray;
  padding: 30px;
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}


/* Input fields */
.input-field {
  padding: 10px !important;
  color: #000;

}

.rem-forgot-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Button */
.login-btn-full {
  padding: 20px !important;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
}

/* Register link */
.signup-link {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .all-items {
    margin: 0 20px;
    padding: 20px;
  }
}