
.register-form {
   background: linear-gradient(180deg, #6a11cb 0%, #2575fc 100%);
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background-image: url(./bg.png);

}

.all-items-register {
   border: 1px dotted gray;
   padding: 30px;
   width: 100%;
   max-width: 500px;
   background-color: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
}

.input-field-register {
   padding: 10px !important;
}

.register-btn-full {
   padding: 20px !important;
   width: 100%;
   font-size: 1rem;
   font-weight: 500;
}

.signup-link-register {
   text-align: center;
   margin-top: 20px;
}

@media (max-width: 768px) {
   .all-items {
      padding: 20px;
      margin: 0 15px;
      box-shadow: none;
      border: none;
   }

   .input-field {
      padding: 8px;
      font-size: 0.9rem;
   }

   .login-btn-full {
      padding: 14px;
      font-size: 0.95rem;
   }

   .signup-link {
      font-size: 0.9rem;
      margin-top: 15px;
   }
}